<div class="grid-container">

    <header class="header">
        <div class="search-container">
            <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="search-input" placeholder="search">
            
        </div>

        <div class="header-text">
            <h3>Generar examen</h3>
        </div>

        <div class="header-options">
            <span><i class="fa-solid fa-gear header-options-icon"></i></span>
            <span><i class="fa-regular fa-bell header-options-icon"></i></span>
            <img class="perfil-icon" src="assets/img/perfil.png">
            <span>Gino</span>
            <i class="fa-solid fa-chevron-down header-options-icon"></i>
        </div>
        
    </header>

    <aside class="sidebar">
        <ul class="sidebar-menu">
            <li class="sidebar-menu-icon"><a ><i class="fa-solid fa-house menu-icon"></i></a></li>
            <li class="sidebar-menu-icon"><a><i class="fa-solid fa-warehouse menu-icon"></i></a></li>
            <li class="sidebar-menu-icon"><a><i class="fa-solid fa-circle-play menu-icon"></i></a></li>
            <li class="sidebar-menu-icon"><a><i class="fa-solid fa-folder-closed menu-icon"></i></a></li>
            <li class="sidebar-menu-icon"><a><i class="fas fa-robot menu-icon"></i></a></li>
            <li class="sidebar-menu-icon"><a><i class="fa-solid fa-chart-column menu-icon"></i></a></li>
            <li class="sidebar-menu-icon"><a><i class="fa-solid fa-arrow-right-to-bracket menu-icon"></i></a></li>
            
        </ul>
    </aside>

    <main class="main">

        <div class="seccion1">
           
           

        </div>

        <div class="seccion2">
            <div class="seccion2-header">
                <label class="seccion2-text">My Devices</label>
                <div class="seccion2-header-action">
                    <label class="block-on">ON<i class="fa-solid fa-chevron-down"></i></label>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                                   
            </div>

            <div class="seccion2-container">
                <div class="container-card">
                    <canvas class="card morado"></canvas>
                    <canvas class="card rosado"></canvas>

                </div>

                <div class="container-card">
                    <canvas class="card naranjado"></canvas>
                    <canvas class="card celeste"></canvas>

                </div>

            </div>

        </div>

    </main> 
</div>
